* {
  box-sizing: border-box;
  color: white;
}

.App {
  /* text-align: center; */
  height: 100vh;
  width: 100vw;
  background: url("../img/driveimg.jpg") no-repeat center center/cover;
}

ul li {
  list-style: none;
}




.flx {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.btn:hover {
  background-color: aqua;
  cursor: pointer;
}

input {
  color: black;
}

.btn {
  background-color: darkgray;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
